#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh build --before configure
	aclocal
	libtoolize -c
	automake --foreign -a
	autoconf
	dh_auto_configure -- --with-java=/usr/lib/jvm/default-java
	dh build --after configure
	touch build-stamp

install: build-stamp
	dh install --before link
	rm -f debian/libgridftp-hdfs0/usr/lib/*.la
	rm -f debian/libgridftp-hdfs0/usr/lib/*.a
	mv debian/libgridftp-hdfs0/etc/sysconfig/gridftp.conf.d \
           debian/libgridftp-hdfs0/etc/gridftp.d
	rm -rf debian/libgridftp-hdfs0/etc/init.d
	rm -f debian/libgridftp-hdfs0/etc/gridftp.d/gridftp-hdfs-environment-bootstrap
	rm -rf debian/libgridftp-hdfs0/etc/gridftp-hdfs
	rm -rf debian/libgridftp-hdfs0/etc/xinetd.d
	dh install --remaining
	rm -rf debian/libgridftp-hdfs0/etc/sysconfig
	rm -rf debian/libgridftp-hdfs0/usr/bin
	rm -rf debian/libgridftp-hdfs0/usr/sbin

binary: install
	dh binary

%:
	dh $@ 

.PHONY: install build binary
